
    <div class="jobs-section">
    <div class="jobs-container row">

        <div class="jobs-card ">
        
            <div class="card-body">
                
             <p class="active-hiring">Actively Hiring</p>
              <h4 class="card-title">Amazon</h4>
              <p class="card-text">Tech <span class="tech">Python Developer</span></p>
              <h6 class="card-location">Banglore IND On-Site</h6>
              <p class="card-text">Rs. 6-9LPA</p>

              <button type="button" class="btn btn-outline-primary btn-sm ">Python</button>
              <button type="button" class="btn btn-outline-primary btn-sm">JavaScript</button>
              <button type="button" class="btn btn-outline-primary btn-sm">MongoDB</button>
              <button type="button" class="btn btn-outline-primary btn-sm">React</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Express</button>

              <a href="details" class=" btn btn-outline-success"style="--bs-btn-padding-y: .3rem; --bs-btn-padding-x: 5.8rem; --bs-btn-font-size: 1rem;">
              View Details
              </a> 
            </div>
        
        </div>
        <div class="jobs-card ">
        
            <div class="card-body">
                
             <p class="active-hiring">Actively Hiring</p>
              <h4 class="card-title">Amazon</h4>
              <p class="card-text">Tech <span class="tech">Python Developer</span></p>
              <h6 class="card-location">Banglore IND On-Site</h6>
              <p class="card-text">Rs. 6-9LPA</p>

              <button type="button" class="btn btn-outline-primary btn-sm ">Python</button>
              <button type="button" class="btn btn-outline-primary btn-sm">JavaScript</button>
              <button type="button" class="btn btn-outline-primary btn-sm">MongoDB</button>
              <button type="button" class="btn btn-outline-primary btn-sm">React</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Express</button>

              <a href="details" class=" btn btn-outline-success"style="--bs-btn-padding-y: .3rem; --bs-btn-padding-x: 5.8rem; --bs-btn-font-size: 1rem;">
                View Details
                </a> 
            </div>
        
        </div>
        <div class="jobs-card ">
        
            <div class="card-body">
                
             <p class="active-hiring">Actively Hiring</p>
              <h4 class="card-title">Amazon</h4>
              <p class="card-text">Tech <span class="tech">Python Developer</span></p>
              <h6 class="card-location">Banglore IND On-Site</h6>
              <p class="card-text">Rs. 6-9LPA</p>

              <button type="button" class="btn btn-outline-primary btn-sm ">Python</button>
              <button type="button" class="btn btn-outline-primary btn-sm">JavaScript</button>
              <button type="button" class="btn btn-outline-primary btn-sm">MongoDB</button>
              <button type="button" class="btn btn-outline-primary btn-sm">React</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Express</button>

              <a href="details" class=" btn btn-outline-success" style="--bs-btn-padding-y: .3rem; --bs-btn-padding-x: 5.8rem; --bs-btn-font-size: 1rem;">
                View Details
                </a> 
            </div>
        
        </div>
        <div class="jobs-card ">
        
            <div class="card-body">
                
             <p class="active-hiring">Actively Hiring</p>
              <h4 class="card-title">Amazon</h4>
              <p class="card-text">Tech <span class="tech">Python Developer</span></p>
              <h6 class="card-location">Banglore IND On-Site</h6>
              <p class="card-text">Rs. 6-9LPA</p>

              <button type="button" class="btn btn-outline-primary btn-sm ">Python</button>
              <button type="button" class="btn btn-outline-primary btn-sm">JavaScript</button>
              <button type="button" class="btn btn-outline-primary btn-sm">MongoDB</button>
              <button type="button" class="btn btn-outline-primary btn-sm">React</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Express</button>

              <a href="details" class=" btn btn-outline-success"style="--bs-btn-padding-y: .3rem; --bs-btn-padding-x: 5.8rem; --bs-btn-font-size: 1rem;">
                View Details
                </a> 
            </div>
        
        </div>
        </div>
      </div>
    
